{% extends "blog/base.html" %}
{% block content %}
    <h1>About Babble</h1>
    <p>Babble is a public blog for users to write share and read posts. Users register and account and create profiles, adding pictures and having a username for the site. Babble frequently has events that go on, these can be found in the sidebar in the 'Calendars' section. Warnings such as site maintenance can be found in the sidebar along with highlighted posts chosen by site administrators. Babble also features the ability to create, update and delete your posts as well as XSS attack protection and a hashed database to protect users from having their data accessed by third parties.</p>
{% endblock content%}
